


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color:  #ffffff;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.container {
  max-width: 133rem !important;
  margin: 0 auto !important;
  padding: 0 2.5rem !important;
}



/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff4d30 #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ff4d30;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ff4d30;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ff2525;
}
.navbar {
    max-width: 133rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.7rem 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 99999;
    margin: 0 auto;
} 
  
  .img {
      width: 13rem;
  }
  .img2 {
        width: 100%;
        height: 100%;
      }
  
  
.dlinks {
      display: flex;
      list-style: none;
      gap: 2.1rem;
}
.ad {
        font-size:1.6rem;
        font-family:  "Rubik", sans-serif;
        font-weight: 600;
        color: #161616;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s;
}
.ad:hover {
          color:  #ff4d30;
        
  
  
      @media (max-width: 1000px) {
        display: none;
      }
    }
  
.buttons {
      display: flex;
      gap: 2.5rem;
      font-size: 1.6rem;
      font-family:  "Rubik", sans-serif;
      font-weight: 500;
      align-items: center;
  
      @media (max-width: 1000px) {
        display: none;
      }
    }
   .signin {
        color: #161616;
        cursor: pointer;
        transition: all 0.3s;
   }
        .signin:hover {
          color:#ff4d30;
        }
  
  .register {
        background-color: #ff4d30;
        color: white;
        padding: 1.5rem 3rem;
        border-radius: 3px;
        box-shadow: 0 10px 15px 0 rgb(255 83 48 / 35%);
        transition: all 0.3s;

  }
  
    .register:hover {
          box-shadow: 0 10px 15px 0 rgb(255 83 48 / 50%);
          background-color: #fa4226;
          color:black;
        }
    
      .a {
        text-decoration: none;
      }
  
 
  
  .mobile {
    font-size: 2.8rem;
    display: none;
    cursor: pointer;
    transition: all 0.3s;
  }
  .mobile:hover {
      color: #ff4d30;
    
  
    @media (max-width: 1000px) {
      display: flex;
    }
  }
  
  .mobile-navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #ffffff;
    z-index: 999999;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }
  .close {
      font-size: 3rem;
      position: absolute;
      top: 3.5rem;
      right: 3.5rem;
      cursor: pointer;
      transition: all 0.3s;
  }
  .close:hover {
        color:#ff4d30;
      }
   
  
   .links {
      display: flex;
      flex-direction: column;
      list-style: none;
      font-size: 2.3rem;
      gap: 3rem;
      text-align: center;
   }
    
        .a {
          text-decoration: none;
          color:#010103;
          font-weight: 500;
          transition: all 0.3s;
        }
        .a:hover {
            color: #ff4d30;
          }
      
  
  .open-nav {
    left: 0;
  }
  