


.container {
  max-width: 133rem !important;
  margin: 0 auto !important;
  padding: 0 2.5rem !important;
}



/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff4d30 #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ff4d30;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ff4d30;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ff2525;
}

.hero-pages {
    width: 100%;
    height: 41rem;
    background-image: url("../../assets/Images/heroes-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.92);
    }
  
  .text {
      display: flex;
      flex-direction: column;
      z-index: 3;
      position: relative;
      width: 100%;
      height: 41rem;
      justify-content: center;
      color: #010103;
  }
      .text-h3 {
        font-size: 3.6rem;
        margin-bottom: 0.5rem;
      }
  
      .text-p {
        font-size:  1.6rem;
        font-weight: 600;
      }
        .text-a {
          color:#010103;
          text-decoration: none;
          transition: all 0.2s;
        }
          .text-a &:hover {
            color: #ff4d30;
          }
      
   
  
 
  .about-main {
    margin: 10rem auto;
    display: flex;
    gap: 5rem;
    max-width: 90rem;
    align-items: center;
  
    @media (max-width: 960px) {
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      max-width: 49rem;
    }
  
    @media (max-width: 520px) {
      max-width: 100%;
    }
  }
    .main-img {
      width: 43rem;
      height: 43rem;
  
      @media (max-width: 960px) {
        margin: 0 auto;
      }
  
      @media (max-width: 520px) {
        width: 100%;
        height: auto;
      }
    }
  
    .main-text {
      color:#010103;
      display: flex;
      flex-direction: column;
    }
      .main-h3 {
        font-size:  2.2rem;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        margin-bottom: 1rem;
      }
  
      .main-h2 {
        font-size: 4.2rem;
        line-height: 1.2;
      }
  
      .main-p {
        font-size: 1.6rem;
        color: #706f7b;
        font-family: "Rubik", sans-serif;
        line-height: 1.5;
        margin-top: 2rem;
        margin-bottom: 4rem;
      }
  
      .main-icons {
        display: grid;
  
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4rem;
  
        @media (max-width: 520px) {
          grid-template-columns: 1fr;
          margin: 0 auto;
          gap: 0;
        }
      }
          .main-p {
            margin-top: 0;
          }
  
  
      .main-box {
          display: flex;
          flex-direction: column;
  
          @media (max-width: 520px) {
            align-items: center;
          }
        }
          .last-fk {
            width: 5rem;
          }
  
          .img {
            width: 7rem;
          }
  
          .span {
            display: flex;
            align-items: center;
            gap: 1rem;
  
            @media (max-width: 520px) {
              text-align: center;
              flex-direction: column;
            }
          }
            .h4 {
              font-size: 4.6rem;
            }
      
  .book-banner {
    display: flex;
    width: 100%;
    height: 20rem;
    background-image: url("../assets/Images/heroes-bg.png");
    position: relative;
    margin-top: 7rem;
  
    @media (max-width: 750px) {
      height: fit-content;
      padding: 1rem 0;
    }
  
   .banner-overlay {
      background-color: #2d2d2d;
      opacity: 0.89;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  
  .text-content {
    color: white;
    z-index: 5;
    position: relative;
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    gap: 5rem;
  
    @media (max-width: 750px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      text-align: center;
    }
  }
    .content-h2 {
      font-size: 3.2rem;
    }
  
    .content-span {
      display: flex;
      font-size: 2.7rem;
      gap: 1rem;
      align-items: center;
      color: #ff4d30;
      white-space: nowrap;
    }
 